# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/

# Ignore the built binary
/cert-manager-webhook-netcup
apiserver.local.config/

# Make artifacts
_out
_test
