name: Build Dependabot PR
on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: read
      pull-requests: write
 
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build (linux/amd64)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64
          push: false
          context: .
