name: Build Images

on:
  workflow_dispatch:
  push:
    branches:
      - develop

env:
  KO_DOCKER_REPO: ghcr.io/aellwein

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Setup ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9.0

      - name: Set tag output
        id: tag
        run: echo "tag_name=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"

      - name: run ko build (on develop)
        env:
          auth_token: ${{ github.token }}
        if: github.ref == 'refs/heads/develop' && success()
        run: |
          echo "${auth_token}" | ko login ghcr.io -u aellwein --password-stdin && \
          VERSION="0.0.0-dev" KO_DEFAULTBASEIMAGE=gcr.io/distroless/static-debian12 ko build -B -t develop  --platform=linux/arm64 # for my testing machine

      - name: run ko build (on main)
        env:
          auth_token: ${{ github.token }}
          TAG_NAME: ${{ steps.tag.outputs.tag_name }}
        if: github.ref == 'refs/heads/main' && success()
        run: |
          echo "${auth_token}" | ko login ghcr.io -u aellwein --password-stdin && \
          VERSION="${TAG_NAME}" KO_DEFAULTBASEIMAGE=gcr.io/distroless/static-debian12 ko build -B -t ${TAG_NAME} --platform=all