name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

env:
  KO_DOCKER_REPO: ghcr.io/aellwein

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: git fetch --prune --unshallow

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Setup ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9.0

      # TBD
      # - uses: sigstore/cosign-installer@dc72c7d5c4d10cd6bcb8cf6e3fd625a9e5e537da # v3.7.0
      # - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4

      - name: Set tag output
        id: tag
        run: echo "tag_name=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"

      - name: run ko build
        env:
          auth_token: ${{ github.token }}
          TAG_NAME: ${{ steps.tag.outputs.tag_name }}
        if: github.ref == 'refs/heads/main' && success()
        run: |
          echo "${auth_token}" | ko login ghcr.io -u aellwein --password-stdin && \
          VERSION="${TAG_NAME}" KO_DEFAULTBASEIMAGE=gcr.io/distroless/static-debian12 ko build -B -t ${TAG_NAME} --platform=all